@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffefef;
  background-color: teal;
  font-family: 'Gill Sans', sans-serif;
}

h1,
h2,
h3,
p,
li {
  font-family: 'Gill Sans', sans-serif;
}

span {
  font-family: 'Lato', sans-serif;
}

.card:nth-child(4n - 2),
.card:nth-child(4n - 1) {
  @apply bg-teal-500;
}

@media (max-width: 767px) {
  body {
    margin: 5px;
  }
}
