@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffefef;
  background-color: teal;
}

.card:nth-child(4n - 2),
.card:nth-child(4n - 1) {
  @apply bg-teal-500;
}

@media (max-width: 767px) {
  body {
    margin: 5px;
  }
}
